<section id="products">
<div class="ui action input">
  <input type="text" placeholder="Search for products...">
  <button class="ui button">Search</button>
</div>

<br><br>

<div>
<img src="/assets/forHome.jpg" class="img-responsive" alt="Responsive image">
</div>

<br><br>

<div class="ui grid container">
	<div class="eight wide column">
		<div class="ui card">
		  <a class="image" href="#">
		    <img src="assets/placeholder.jpg">
		  </a>
		  <div class="content">
		    <a class="header" href="#">We customize!</a>
		    <div class="meta">
		      <a>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</a>
		    </div>
		  </div>
		</div>
	</div>
	<div class="eight wide column">
		<div class="ui card">
		  <a class="image" href="#">
		    <img src="assets/placeholder.jpg">
		  </a>
		  <div class="content">
		    <a class="header" href="#">We customize!</a>
		    <div class="meta">
		      <a>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</a>
		    </div>
		  </div>
		</div>
	</div>
</div>
</section>